
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}

nav ul li a 
{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

section 
{
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#moreBtn 
{
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

#moreBtn:hover 
{
    color: #45a049; 
}


#employees 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 50px; 
}

.employee 
{
    width: calc(25% - 20px); 
    margin: 20px 10px; 
    text-align: center;
    border: 1px solid #ccc; 
    padding: 10px;
    border-radius: 5px; 
}

.employee img 
{
    width: 100%; 
    border-radius: 0; 
    display: block;
    margin: 0 auto; 
    border: 1px solid #ccc;
}
